In [1]:
# List of order ID’s which are processed 
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

# List of order ID’s which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the question given below

#### Count the total number of orders [ Orders include both processed and returned orders]

- 63
- 66
- 126
- 129

In [2]:
print(len(processed_orders + returned_orders))

129

#### In the total orders, identify the 50th order [ Note: Assume the order ID’s are being generated in a consecutive manner]

- 1152
- 1099
- 1154
- 1100

In [19]:
sort_orders = sorted(processed_orders + returned_orders)
print(sort_orders[49])

1099

#### Is 50th order a returned order or processed order?

- Returned Order
- Processed Order

In [26]:
id = 1099

print(id in returned_orders)
print(id in processed_orders)

False
True

#### What is the last processed order ID ? [ Note: Assume the order ID’s are being generated in a consecutive manner]

- 1050
- 1178
- 1124
- 1177

In [28]:
processed_orders.sort()
processed_orders[-1]

1178

#### Identify the first 4 orders which are processed?

- 1152, 1154, 1155, 1156
- 1051, 1152, 1153, 1154
- 1050, 1051, 1052, 1054
- 1050, 1051, 1052, 1053

In [29]:
processed_orders.sort()
processed_orders[:4]

[1050, 1051, 1052, 1054]

#### Practice Question- 2

In [65]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [66]:
senior = sorted(Employee_data.values())

print(senior[-1])

#or max(Employee_data.values())

45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [67]:
print(Employee_data.get("159"))

None

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [68]:
len(Employee_data)

74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [69]:
ag = sum(Employee_data.values())

print(ag / 74)

31.364864864864863

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [79]:
Employee_data[104] = 27
Employee_data[140] = 27
Employee_data[164] = 27


print(sum(Employee_data.values())/74)

30.716216216216218

In [80]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [81]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]

fruits[3][0]

'banana'

In [82]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [83]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [84]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [85]:
var=(5)
print(type(var))

<class 'int'>

In [86]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [89]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [90]:
s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [91]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [92]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

In [93]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [94]:
d = {"Python":40, "R":45}
"Python" in d

True

In [95]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [96]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8